<div *ngIf="changeCameraView" class="qrContainer" >
<div>
<h2>BOSCH Go!</h2>
<hr>
</div>
<div class="contain">
    <qr-scanner
            [debug]="true"
            [canvasWidth]=canvasW
            [canvasHeight]=canvasH
            [stopAfterScan]="false" 
            [updateTime]="500"
            id="qscan"
            > 
    </qr-scanner>
    <button (click)="changeCam()" id="changeCam">Change</button>
    <h4>{{resultView}}</h4>
</div>
    
    </div>

<div *ngIf="!changeCameraView" class="qrContainer">
     <h3>Please wait...</h3>
</div>

